# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/
.env/

# Environment variables (¡NUNCA commitear el .env real!)
.env

# Distribución / empaquetado
dist/
build/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/
